@import '../lib/cicada/src/scss/fun/fun';
.box1{
  height: 100px;
  width: 100px;
  background-color: #f1f1f1;
}
.animate{
  .box1{
    @include animation(bounceInUp 2s ease 0.2s 1 both,wobble 1s ease 2.2s 1 both);
  }

}