@charset "utf-8";
@import '../lib/cicada/src/scss/fun/fun';
.box1{
  height: 100px;
  width: 100px;
  border-radius:50%;
  background-color: #f1f1f1;
}
.animate{
  .box1{
    //动画名，动画时间，动画速度函数（ease/ease-in-out），动画延迟时间，动画执行次数（1/infinite/both）
    @include animation(bounceInUp 2s ease 0.2s,flash 1s ease 2.2s 1 both);
  }
}


