@charset "utf-8";

.icon{
  width: rem(89);
  background-size: rem(89) rem(349);
  background-image: url("../../images/task/icon.png");
//  background-image: url("../../images/task/icon01.svg"),none;
}
.icon-pencil{
  background-position: 0 0;
  height: rem(72);
}
.icon-calendar{
  background-position: 0 rem(-74);
  height: rem(88);
}
.icon-teacher{
  background-position: 0 rem(-162);
  height: rem(94);
}
.icon-parent{
  background-position: 0 rem(-256);
  height: rem(93);
}